<ion-content>
    <form #form="ngForm">
      <ion-grid class="mt-3">
        <ion-row class="ion-justify-content-center">
          <ion-col class="ion-padding-top" size-md="6" size-lg="5" size-xs="12"
            style="background-color: #ffffff; border-radius: 3px">
            <ion-row class="ion-padding-top">
              <ion-col>
                <ion-item>
                  <ion-input [(ngModel)]="title" name="title" type="title" placeholder="Title" required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input [(ngModel)]="description" name="description" type="description" placeholder="Description" required></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
              <ion-button class="ion-margin-top" size="large" type="submit" expand="block" (click)="update(id)">Submit</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form> 
  </ion-content>
  