<ion-header>
  <ion-toolbar>
    <ion-title>
      To Do List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-row>
      <ion-col>
        <ion-button class="ion-margin-top" size="large" type="submit" expand="block" (click)="addModal()">Add</ion-button>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let x of listData; let i = index">
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label class="col-md-3">{{x.title}}</ion-label>
            <ion-label class="col-md-9">{{x.description}}</ion-label>
            <ion-row>
                <ion-col>
                    <ion-button class="ion-margin-top" size="small" color="success" type="submit" expand="block" (click)="editModal(x)">Edit</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button class="ion-margin-top" size="small" color="danger" type="submit" expand="block" (click)="delete(x.id)">Del </ion-button>
                </ion-col>
              </ion-row>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

  </div>
</ion-content>